// background
$bg-1: #e8f5fb;
$bg-2: #009eac;

// gray
$gray-1: #f0f3f4;
$gray-2: #868e96;

// green
$green-1: #d3f9d8;
$green-2: #2f9e44;

// yellow
$yellow-1: #ffe066;

//link
$link-1: #4dabf7;

// button
$btn-1: #dc6e3c;
