@import "../../../styles/color.scss";

#sendOTPContent {
  background-color: #fff;
  height: 1050px;
  width: 500px;
  text-align: center;
  border-radius: 10px;

  h2 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 600;
  }

  a:link {
    color: $link-1;
    text-decoration: none;
  }

  a:visited {
    color: $link-1;
  }

  .input-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 40px;
    gap: 30px;

    .text-field {
      width: 100%
    }
  }

  .btn {
    width: 90%;
    height: 50px !important;
    border-radius: 150px;
    background-color: $btn-1;
    font-weight: bold;
  }

  .login-link {
    margin-top: 60px;
  }

  img {
    margin-top: 30px;
    width: 120px;
  }
}
