@import "../../styles//color.scss";

footer {
  background-color: $bg-2;
  height: 65px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  gap: 30px;

  a:link {
    display: block;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
    border-bottom: solid 2px transparent;
    padding-bottom: 3px;
    padding-top: 6px;
  }

  a:visited {
    color: white;
  }

  a:hover {
    border-bottom-color: white;
  }

  img {
    height: 50px;
    cursor: pointer;
  }

  .text-search {
    padding: 3px;
    margin: 0;
    color: black;
    border: solid 1px white;
    background-color: white;
    border-radius: 5px;
    font-size: 14px;
    margin-right: 20px;
  }

  .nav-items {
    display: flex;
    justify-content: center;
    gap: 30px;
  }

  .search-icon {
    color: black;
  }

  .header-end {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 5px;

    .icon {
      color: white;
    }
  }
}
